*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background: none;
    text-decoration: none;
    outline: none;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    font-weight: inherit;
    font-style: inherit;
    color: inherit;
    border: none;
    list-style: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

*:visited,
*:active {
    color: inherit
}

:root {
    --c-bg: hsl(20, 20%, 96%);
    --c-text: hsl(0, 15%, 45%);
    --font-family: "Campton", sans-serif;
    --font-serif: "Didot LT", Didot, serif;
    --font-size: 17px;
    --font-lineheight: 26px;
    --font-weight: 400;
    --font-style: normal;
    --font-scale-xs: 0.79;
    --font-scale-s: 0.889;
    --font-scale-m: 1.125;
    --font-scale-l: 1.226;
    --font-scale-xl: 1.2;
    --font-scale-xxl: 3;
    --l-regular: 24rem;
    --l-wide: 36rem;
    --l-archive: 37rem;
    --l-archive-wide: 57rem;
    --l-text: 19rem;
    font-size: var(--font-lineheight);
    font-family: var(--font-family);
    font-weight: var(--font-weight);
    font-style: var(--font-style);
    background: var(--c-bg);
    color: var(--c-text)
}

@media (min-width: 700px) {
    :root {
        --font-size: 21px;
        --font-lineheight: 34px
    }
}

@media (min-width: 700px) {
    :root {
        --font-scale-xl: 1.35
    }
}

::-moz-selection {
    background: var(--c-text);
    color: var(--c-bg)
}

::selection {
    background: var(--c-text);
    color: var(--c-bg)
}

body,
html {
    width: 100%;
    height: 100%
}

body *,
html * {
    font-size: var(--font-size);
    line-height: 1rem;
    letter-spacing: 0.05em
}

body {
    overflow: auto
}

.opening {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    position: relative
}

.opening::before,
.opening::after {
    content: "";
    display: block;
    width: 80%;
    height: 25%;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    left: 0;
    right: 0;
    margin: 0 auto
}

.opening::before {
    background-position: center bottom;
    top: 5vmin;
    /* Image by asrulaqroni on Freepik */
    background-image: url("../images/opening_top.png")
}

.opening::after {
    background-position: center top;
    bottom: 5vmin;
    /* Image by asrulaqroni on Freepik */
    background-image: url("../images/opening_bottom.png")
}

.opening-title {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: auto;
    font-family: var(--font-serif);
    font-size: 10vmin;
    font-weight: 400;
    width: 90%;
    padding: 0.2em;
}

.opening-title div {
    display: inline;
    font-size: inherit;
    letter-spacing: 0.15em;
    line-height: 2rem;
}

.opening-title div.opening-name {
    width: 100%;
}

.opening-and {
    margin: 0.8rem 0 0 0;
}

.date {
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        justify-content: center;
        text-align: center;
        margin: auto;
        font-family: var(--sans-serif);
        font-size: 7vmin;
        font-weight: 400;
        width: 90%;
        padding: 0.2em;
        margin-top: 1rem;
}

.text, .location {
    text-align: center;
    text-transform: uppercase;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0 1rem
}

.text {
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
}

.text.lower {
    text-transform: none;
}

.text.program-time {
    text-transform: none;
    font-style: italic;
    margin: 0 0;
} 

.text.program-item {
    text-transform: none;
    font-style: none;
    text-transform: uppercase;
    margin: 0 0;
}

.text.program-location{
    text-transform: none;
    font-style: none;
    margin: 0 0;
    font-size: 0.5rem;
}



.location {
    margin-top: 0.5rem;
}

.location a {
    font-size: 3vmin;
}

.bold {
    font-weight: 700;
}

.italic {
    font-style: italic;
}

.card {
    padding: 1rem;
    border-radius: 5px;
    background-color: rgb(253, 253, 253);
}

.program-block {
    margin-bottom: 1rem;
}

@media (min-width: 700px) {
    .text {
        margin-top: 2rem;
    }

    .location {
        margin-top: 1rem;
    }
}

figure {
    text-align: center;
}

.small-boat-illustration {
    width: 40%;
    left: 0;
    right: 0;
    margin: 0 auto
}

.small-flower-illustration {
    width: 30%;
    left: 0;
    right: 0;
    margin: 0 auto
}

.polaroid-illustration {
    width: 30%;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.polaroid-illustration-medium {
    width: 40%;
}

.small-icon {
    width: 15%;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.contact-details {
    margin: 2rem 0;
}

.text .optional br {
    display: none
}

.margin-bottom {
    padding-bottom: 4rem;
}

@media (min-width: 1000px) {
    .text .optional br {
        display: initial
    }
}

.text p {
    margin-bottom: 1rem
}

p.program-day {
    margin-bottom: 0;
}

.opening+.text {
    margin-top: 0
}

@media (min-width: 700px) {
    .opening+.text {
        margin-top: 4rem
    }
}

.text-big {
    font-size: calc(var(--font-size) * var(--font-scale-xl));
    line-height: 1.2rem;
    letter-spacing: 0.1em;
    letter-spacing: 0.1em
}

.text-big:not(:last-child) {
    margin-bottom: .5rem
}


.lang-choices {
    text-align: center;
    margin-top: 1rem;
    opacity: 80%;
}

.lang-choices span a {
    font-size: 0.5rem;
}
.lang-choices span a:hover {
    color:brown
}


@media (min-width: 500px) {
    .date-image {
        height: 2rem;
        width: auto;
        margin: 0 auto
    }
}

.date-caption {
    position: absolute;
    top: -999999px;
    left: -999999px
}

.illustration-container {
    max-width: 22rem;
    margin: 2rem auto;
    padding: 0 1rem
}

@media (min-width: 700px) {
    .illustration-container {
        margin: 4rem auto
    }
}

.illustration-container-small {
    max-width: 16rem
}

.illustration-container-final {
    max-width: 8rem;
    margin-bottom: 0;
    padding-bottom: 2rem
}

@media (min-width: 700px) {
    .illustration-container-final {
        padding-bottom: 4rem
    }
}

.illustration {
    display: block;
    width: 100%;
    height: auto
}

.bottom-text {
    margin-bottom: 4rem;
}

.space-above {
    margin-top: 2rem;
}

.text.program-subtitle {
    text-transform: none;
    margin: 0 0 2rem 0;
    font-size: 0.5rem;
}

.text.program-title {
    margin: 0 0;
    font-size: 0.7rem;
}

a {
    text-decoration: underline;
}